:host {
    display: block;
}

.custom-button {
    --slds-c-button-neutral-color-background: #ffffff;
    --slds-c-button-neutral-color-border: #0176d3;
    --slds-c-button-text-color: #0176d3;
}

.custom-button:hover {
    --slds-c-button-neutral-color-background: #f3f3f3;
    --slds-c-button-neutral-color-border: #014486;
    --slds-c-button-text-color: #014486;
}
